.feauture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item {

    @media screen and(min-width: $mobile) {
      width: 450px;
    }

    @media screen and(min-width: $tablet) {
      width: 354px;
    }

    @media screen and(min-width: $desktop) {
      width: 270px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and(min-width: $mobile) {
      margin-bottom: 10px;
      text-align: center;
    }

    @media screen and(min-width: $tablet) {
      text-align: left;
    }
  }

  &__text {
    font-weight: 400;
    line-height: 1.71;
    font-size: 14px;
  }

}


.feauture__icon-box {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and(min-width: $mobile) {
    width: 450px;
  }

  @media screen and(min-width: $tablet) {

    width: 354px;
  }

  @media screen and(min-width: $desktop) {
    width: 270px;
  }
}

.feauture__icon {
  display: inline-block;

  height: 70px;
  width: 70px;
  margin-top: auto;
  margin-bottom: auto;
}