.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__block {
    display: block;
    text-align: center;

    @media screen and(min-width: $desktop) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;

    }
  }

  &__tablet {
    display: block;
    text-align: center;

    @media screen and(min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      text-align: center;

    }

    @media screen and(min-width: $desktop) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;

    }
  }


  .social__title {

    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--addr-color-city);
    text-align: center;

    @media screen and(min-width: $desktop) {
      text-align: left;
    }
  }

  .social__link {
    display: flex;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: var(--select-text-color);
    }
  }

  .addr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--addr-color-tel-mail);
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 60px;
    margin-right: 0px;
    
    &__list .item:not(:last-child){
      margin-bottom: 8px;
    }
    @media screen and(min-width: $tablet) {
      margin-bottom: 0px;
    }

    @media screen and(min-width: $desktop) {
      margin-bottom: 0px;
      margin-right: 70px;
    }

    &__mail-tel {

      &:hover,
      &:focus {
        color: var(--select-text-color);
      }
    }

    &__city {
      color: var(--addr-color-city);
      background: #2f303a;

      &:hover,
      &:focus {
        color: var(--select-text-color);

      }

    }

  }

  .subsc {

    display: block;
    margin-top: 60px;

    @media screen and(min-width: $desktop) {
      margin-top: 0px;
    }

    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;

      @media screen and(min-width: $desktop) {
        text-align: left;
      }
    }

    &__box {
      display: block;
      margin-top: 20px;

      @media screen and(min-width: $desktop) {
        display: flex;
      }
    }

    &__input {
      margin: 0;
      padding: 15px 16px;
      max-width: 450px;
      width: 100%;
      margin-bottom: 20px;
      margin-right: auto;

      @media screen and(min-width: $desktop) {
        min-width: 358px;
        margin-bottom: 0px;

      }

      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      background-color: var(--footer-bg-color);
      color: var(--addr-color-city);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        border-color: var(--button-select-color);
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      min-width: 200px;
      min-height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: #FFFFFF;

      @media screen and(min-width: $desktop) {
        margin-left: 12px;
        margin-right: 0px;
      }



      background: #2196F3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border-color: var(--button-select-color);

    }
    
    &__button-svg {
      margin-left: 10px;
      width: 24px;
      height: 24px;
      fill: var(--addr-color-city);
    }
  }
}