.page__header {
  color: var(--title-text-color);
  background-color: var(--button-select-text-color);
  border: transparent;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
    // position: relative;
}

.mobile-site-nav {
  display: block;
  text-align: left;
  padding-bottom: 382px;
  &__link {
    position: relative;

    display: block;
    padding: 32px 0;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
    
      color: #212121;

    &.current {
      color: var(--select-text-color);
    }

    &.current::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      display: block;
      width: 100%;
      height: 4px;
      background: var(--button-select-color);
      border-radius: 2px;

      opacity: 1;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
      color: var(--select-text-color);
    }

  }
}

.mobile-auth-nav {
  display: block;
  margin-bottom: 64px;

  .auth-nav__item:not(:last-child){
    margin-bottom: 32px;
  }

  .auth-nav__mail {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;

  }

  .auth-nav__phone {
    display: flex;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}

.site-nav {
  display: flex;

  @media screen and(max-width: $tablet) {
    display: none;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    position: relative;

    display: block;
    padding: 32px 0;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.current {
      color: var(--select-text-color);
    }

    &.current::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      display: block;
      width: 100%;
      height: 4px;
      background: var(--button-select-color);
      border-radius: 2px;

      opacity: 1;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
      color: var(--select-text-color);
    }

  }
}

.mobile-social {
  display: flex;
  justify-content: space-between;

  .mobile-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
  }

}

.burger-button {
  display: inline-flex;

  @media screen and(min-width: $tablet) {
    display: none;
  }

  @media screen and(min-width: $desktop) {
    display: none;
  }

  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;

  .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-burger {
    display: none;
  }
}

.mobile-container {
  display: none;
  background-color: grey;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  padding: 48px 40px;
  text-align: center;
  background-color: #ffffff;

  &.is-open {
    display: block;
  }
}

.auth-nav {
  display: block;

  @media screen and(max-width: $tablet) {
    display: none;
  }

  @media screen and(min-width: $desktop) {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;

    @media screen and(min-width: $desktop) {
      margin-right: 50px;
      margin-bottom: 0px;
    }

  }

}


.auth-nav__link {
  display: flex;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and(min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
  }

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--select-text-color);
    fill: var(--select-text-color);
  }
}

.auth-nav__svg {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}