  .hero_section {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 768px;
    max-height: 400px;
    max-width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url("../images/header/Header-480.jpg");

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url("../images/header/Header-480@2x.jpg");
    }

    //--------------------------------------
    @media screen and(min-width: $tablet) {
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url("../images/header/Header-768.jpg");

      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
          url("../images/header/Header-768@2x.jpg");
      }
    }

    @media screen and(min-width: $desktop) {
      max-height: 600px;
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
        url("../images/header/Header-1200.jpg");

      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
          url("../images/header/Header-1200@2x.jpg");
      }
    }

  }

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .box {
      background-image: url('photo@2x.png');
    }
  }

  .hero__title {
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--button-select-text-color);

    @media screen and(min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }


  }

  .hero__button {
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    min-width: 200px;

    @media screen and(min-width: $desktop) {
      min-width: 216px;
    }

    color: var(--button-select-text-color);
    background-color: var(--button-select-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
  }