.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
  }

}

.button__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  display: flex;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

}

.svg__close {
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .button__close:hover &,
  .button__close:focus & {
    fill: var(--button-select-color);
    cursor: pointer;
  }
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__group {
    position: relative;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: #757575;
  }

  &__label:last-child {
    margin-bottom: 0;
  }

  &__input,
  &__textarea {
    margin-top: 4px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input {
    margin-bottom: 10px;
    padding: 11px 12px 11px 42px;
    outline: transparent;

    &:focus,
    &:hover {
      border-color: var(--button-select-color);
      cursor: pointer;
    }

  }

  &__textarea {
    padding: 11px 16px;
    height: 120px;
    resize: none;
    outline: transparent;

    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: #757575;
    }

    &:focus,
    &:hover {
      border-color: var(--button-select-color);
      cursor: pointer;
    }

  }

}


.icon__form {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__input:focus+&,
  .modal__input:hover+& {
    fill: var(--button-select-color);
  }
}




.checked__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
  height: 50px;

  background: var(--button-select-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--button-select-color);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--addr-color-city);

  &:hover,
  &:focus {
    cursor: pointer;
  }

}

.checked__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.checked__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checked__licens {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--select-text-color);
}

.checked__input {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: absolute;

}

.checked__svg {
  display: inline-block;
  margin-right: 7px;
  width: 18px;
  height: 18px;
  fill: var(--addr-color-city);
  background-color: var(--addr-color-city);

  border: 2px solid var(--primary-text-color);
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checked__input:checked+& {
    fill: var(--addr-color-city);
    background-color: var(--button-select-color);
    border: 2px solid var(--button-select-color);
    background-color: var(--button-select-color);
    border: 2px solid var(--button-select-color);
  }
}