  
    
  .button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
    &__item {
      display: block;
      text-align: center;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    &__button {
      border-radius: 4px;
      border: none;
      padding: 6px 22px;
      min-width: 73px;
    
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      text-align: center;
      letter-spacing: 0.03em;
    
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shad 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          color: var(--button-select-text-color);
          background-color: var(--button-select-color);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
            cursor: pointer;
        } 
 }
  }
  
  .shadow__text {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  
    width: 370px;
    height: 294px;
    padding: 63px 24px;
  
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
  
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);
  
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

      
  .portfolio-list__item:hover &,
  .portfolio-list__item:focus & {
    transform: translateY(0%);
  }


  }
  .portfolio-wrap {
    position: relative;
    overflow: hidden;
  }
 
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    &__item {
      transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
      }
    
    }

   &__project {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: transparent;
  }
  }
 
  .portfolio__card {
    color: var(--primary-text-color);

    .card__header {
      color: var(--title-text-color);
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      font-weight: 700;
    }
    .card__text {
      font-size: 16px;
      line-height: 1.88;
      font-weight: 400;
    }
  }

