.section {

  background-color: var(--button-select-text-color);



  @media screen and(min-width: $mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and(min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--padd-minus {
    display: none;
    @media screen and(min-width: $desktop) {
      display: block;
      padding-top: 0;
    }
  }

  &__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    @media screen and(min-width: $desktop) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
}

.container--padd-minus{
  padding-top: 0px;
}

.section h1,
.section h2,
.section h3 {
  color: var(--title-text-color);
}